node_modules/
bravuz.db
*.db-shm
*.db-wal
bravuz-menu.zip
BravuzGenerator.exe
BravuzGenerator.exe.manifest
account_gen.cpp
account_gen.py
sqlite3.c
sqlite3.h
web/
__pycache__/
*.pyc


web/
__pycache__/
*.pyc
